/*General*/

* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', serif;
}

html, body {
    height: 100%;
}

html {
    display: block;
    margin: auto;
    float: none;
}

body {
    display: table-cell;
    vertical-align: middle;
}


.all {
  display: block;
  margin: auto;
  width: 75%;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../public/HelveticaNeue.ttf) format("truetype");
}


.left-nav {
  display: inline-block;
  float: left;
}

.nav-text {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  text-decoration: none;
  color: #060606;
  padding-left: 2em;
  padding-right: 1em;
}

.right-nav {
  display: inline-block;
  float: right;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right;
  text-align: -ms-right;
}

.logo-nav {
  display: inline-block;
  height: auto;
  float: left;
  margin: 0px;
}

.logo-nav img {
  width: 8em;
}

/*Header*/

.primo {
  background-color: #e0e0e0;
  padding: 2em 3em 2em 3em;
  margin-bottom: 1.6em;
}

.secondo {
  background-color: #e0e0e0;
  padding: 1em 2em 1em 2em;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.contorno {
  background-color: #000;
  height: 3em;
  margin-top: 1.6em;
  padding: 2em;
}

.contorno-due {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding: .1em;
}

.graph-section p {
  font-weight: bold;
  padding-left: 1em;
  padding-top: 1em;
}

.graph-section img {
  width: 100%;
  height: auto;
  padding: 1em;
  margin-bottom: 1.6em;
}

.dolce p {
  padding: 1em 2em 1em 2em;
  margin-bottom: 1.6em;
}

.search-button {
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 2em 1em 2em;
  text-decoration: none;
  color: #000;
  margin: auto;
}

.digestivo {
  margin-top: 1.6em;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 3em;
}
/*Grid system*/


.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding: 15px;
    float: left;
}

/*Responsiveness*/

@media only screen and (min-width: 300px) and (max-width: 600px) {
        .nav-text  { display: block; text-align: left; padding: 0px; }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
